{
  "arrowParens": "always",
  "bracketSpacing": true,
  "disableLanguages": [],
  "endOfLine": "lf",
  "jsxBracketSameLine": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
